<div id="academy">
    <div class="container">
        <h5>Academy</h5>
        <hr class="lefty">
        <h3 class="izquierdo">Si lo <span class="light">hacemos</span>, lo <span class="light2">enseñamos</span>. 
        </h3>
        <h3 class="izquierdo">Si lo <span class="light2">enseñamos</span>, lo <span class="light">hacemos</span>.
        </h3>
<br><br>
<p>Aprende a diseñar estrategia, liderar equipos, aplicar el proceso y transmitir la cultura para diferenciarte, crecer y a transformarte a través de nuestro modelo de innovación. </p>

<br><br>
<h3>Próximos talleres</h3>
<p>Todos nuestros talleres son hechos a la medida
</p>

<div id="minimi">
  <% @workshops.each_with_index do |workshop, i| %>
<%= link_to workshop do %>
<div class="row">
  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n<%=i+1%>">
      <h4><%= workshop.nombre %></h4>
      <p class="white"><%= workshop.fecha.strftime("%x") %></p>
    </div>
  </div>
  <% end %>
<% end %>


  </div>
</div>



<br><br>
<h3>Talleres In-house</h3>
<p>
</p>

<div id="minimi">
<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>
<div class="row">
  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n1">
      <h4>Estrategia de innovación
      </h4>
    </div>
  </div>
<% end %>



<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n2">
      <h4>Equipos <br> de innovación
      </h4>
    </div>
  </div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n3">
      <h4>Proceso <br> de innovación
      </h4>
    </div>
  </div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n4">
      <h4>Cultura <br> de innovación
      </h4>
    </div>
  </div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n5">
      <h4>Diseño <br> de experiencia de cliente
      </h4>
    </div>
  </div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n6">
      <h4>Diseño <br> de nuevos productos y servicios
      </h4>
    </div>
  </div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n7">
      <h4>Diseño <br> de nuevas líneas de negocio
      </h4>
    </div>
  </div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n8">
      <h4>Diseño <br> de modelo de negocio
      </h4>
    </div>
  </div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n9">
      <h4>Design <br> Thinking
      </h4>
    </div>
  </div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n10">
      <h4>Lean <br> Startup
      </h4>
    </div>
  </div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n11">
      <h4>Innovación <br> colaborativa
      </h4>
    </div>
  </div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n12">
      <h4>Prototipado
      </h4>
    </div>
  </div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n13">
      <h4>Planeación <br> estratégica
      </h4>
    </div>
  </div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

  <div class="col-md-3 col-sm-6">
    <div id="mini" class="n14">
      <h4>Sprint <br> design
      </h4>
    </div>
  </div>
<% end %>



  </div>
</div>


    </div>
</div>

<div id="cuadrito" class="center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>
        Dominamos el método y somos capaces de enseñartelo.
      </h2>
      <button type="button" class="button button_white" data-toggle="modal" data-target="#PhotoModal">Contáctanos!</button>
    </div>
  </div>
</div>