<div id= "banner" class="cover_home">
<div id="hero-text">
	<h1 class="typed2"><strong>INNOVACIÓN</strong> es:</h1>
	<h1 class="element typed"></h1>
	</div>
<div class="home_button">
	<button class="button button_blue2 hommie">Empezar a innovar</button>
</div>
</div>


<div class="row">		
	<div class="col-md-10 col-md-offset-1">
		<div id="acuario">
			<div class="text">
				<div class="container">
					<h5>¿Qué hacemos?</h5>
					<hr class="lefty">
					<h3>Innovación que resuelve <br> verdaderos retos</h3>
				<p class="fade2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, dolorum necessitatibus quas quae, ad excepturi eius id assumenda expedita officiis esse sint optio harum.</p>
				</div>
			</div>
			<div class="row">
			<div class="col-md-3 col-sm-6">
				<div id="cuatro">
					<div class="imagen2">
						<%= image_tag ("prueba.jpg")%>
					</div>
					<h2>Proyectos Comerciales</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
				</div>
			

				<div class="col-md-3 col-sm-6">
					<div id="cuatro">
						<div class="imagen2">
							<%= image_tag ("prueba.jpg")%>
						</div>
					<h2>Laboratorio de Innovación</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div id="cuatro">
						<div class="imagen2">
							<%= image_tag ("prueba.jpg")%>
						</div>
					<h2>Transformación Digital</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div id="cuatro">
						<div class="imagen2">
							<%= image_tag ("prueba.jpg")%>
						</div>
					<h2>Gestión de Talento</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
				</div>
				</div>
			</div>
		</div>
</div>

<div class="row">
<div id="test">
	<br>
	<h5>Mide tu capacidad de innovar</h5>
	<hr>
	<h3>Toma nuestro test y conoce qué tan innovador eres</h3>
	<button class="button button_blue">Tomar el test</button>
</div>
</div>
<br>

<div class="row">
	<div id="new">
			<br>
	<h5>¿Por qué lo hacemos?</h5>
	<hr>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2">
			<h2>Hacemos lo que enseñamos</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto, doloremque accusamus porro possimus.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque libero deleniti alias, consectetur eaque sunt mollitia iure, repellendus natus.</p>
			<button class="button button_blue2">Más información</button>
		</div>
		<div class="col-sm-4">
			<%= image_tag ("logo.svg")%>
		</div>
	</div>

<br><br>
<br>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2 hidden-xs">
			<%= image_tag ("logo.svg")%>
		</div>
		<div class="col-sm-4">
			<h2>Enseñamos lo que hacemos</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto, doloremque accusamus porro possimus.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque libero deleniti alias, consectetur eaque sunt mollitia iure, repellendus natus.</p>
			<button class="button button_blue2">Más información</button>
		</div>
		<div class="col-sm-4 visible-xs">
			<%= image_tag ("logo.svg")%>
		</div>
	</div>
	
	</div>
</div>


<div id="clientes">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h5>¿Nuestros Clientes?</h5>
			<hr class="righty">
			<h3>Clientes que confiaron en nosotros</h3>
	<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= image_tag ("cliente01.png") %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= image_tag ("cliente02.png") %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= image_tag ("cliente03.png") %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= image_tag ("cliente04.png") %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= image_tag ("cliente05.png") %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= image_tag ("cliente06.png") %>
	</div>
	</div>
	</div>
	</div>
</div>


<div class="row">
	<div id="numeralia">
		<div class="row">
<div class="col-sm-2 col-xs-4 gris2">
				<h4>Países de LATAM en los que tenemos presencia</h4>
				<h2>4</h2>
		</div>
<div class="col-sm-2 col-xs-4 gris">
				<h4>Proyectos de innovación que desarrollamos</h4>
				<h2>+ 255</h2>
		</div>
<div class="col-sm-2 col-xs-4 gris">
				<h4>Escuelas de negocios en las que participamos</h4>
				<h2>6</h2>
		</div>
<div class="col-sm-2 col-xs-4 gris hidden-xs">
				<h4>Nuevas empresas en las que colaboramos</h4>
				<h2>+ 25</h2>
		</div>
<div class="col-sm-2 col-xs-4 gris2 visible-xs">
				<h4>Nuevas empresas en las que colaboramos</h4>
				<h2>+ 25</h2>
		</div>
<div class="col-sm-2 col-xs-4 gris">
				<h4>Talleres con nuestra metodología que impartimos</h4>
				<h2>+ 100</h2>
		</div>
<div class="col-sm-2 col-xs-4 gris">
				<h4>Herramientas propias con las que contamos</h4>
				<h2>+ 20</h2>
		</div>
		</div>
	</div>
	</div>

<div id="contact">
		<br>
	<h5>Conviértete en un caso de éxito</h5>
	<hr>
	<h3>Trabaja con nosotros</h3>
	<button class="button button_blue">Quiero innovar ahora!</button>
</div>



<script>
	$(function(){
		$(".element").typed({
			strings: ["^1000 Nuevos modelos de negocio", "^1000 Aportar valor", "^1000 Desarrollar talento", "^1000 Construir nuevas líneas de negocio", "^1000 Implementar" ],
			typeSpeed: 100,
			loop: true,
			backDelay: 500,
		});
	});
</script>