<div id="inicio">
	<h1>INNOVACIÓN</h1>
	<h2>para el <span class="light">crecimiento</span></h2>
	<p>Utiliza nuestro modelo de innovación para acelerar el crecimiento y construir diferenciadores, desde la definición de la estrategia hasta la generación de nuevos negocios y más</p>
	<button class="button button_blue2">Comienza Ahora</button>
</div>

<div id="idi">
	<div class="container">
		<div class="col-md-5">
			<div id="caines">
				<h5>¿Quiénes somos?</h5>
				<hr class="lefty">
				<h3 class="izquierdo">Idearia Lab</h3>
				<p>Utiliza nuestro modelo de innovación para acelerar el crecimiento y construir diferenciadores, desde la definición de la estrategia hasta la generación de nuevos negocios y más</p>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<div id="cuatro">
			<div class="row">
				<h3>Modelo de <span class="light">Innovación</span> de Idearia Lab</h3>
				<p class="down">
					Idearia Lab ofrece una suite de innovación para la diferenciación, el crecimiento y la transformación de las organizaciones. La suite está basada en 4 pilares que se pueden implementar individualmente, pero es altamente exitosa cuando se implementan en conjunto. 
				</p>
				<div class="col-md-3 col-xs-6">
					<%= image_tag "iconos01.png" %>
					<h2>Estrategía</h2>
					<p class="equis">¿Para qué innovar?</p>
					<h4><%= link_to "<< Más información", root_path %></h4>
				</div>
				<div class="col-md-3 col-xs-6">
					<%= image_tag "iconos02.png" %>
					<h2>Equipo</h2>
					<p class="equis">¿Con quién innovar?</p>
					<h4><%= link_to "<< Más información", root_path %></h4>
				</div>
				<div class="col-md-3 col-xs-6">
					<%= image_tag "iconos03.png" %>
					<h2>Proceso</h2>
					<p class="equis">¿Cómo innovar?</p>
					<h4><%= link_to "<< Más información", root_path %></h4>
				</div>
				<div class="col-md-3 col-xs-6">
					<%= image_tag "iconos04.png" %>
					<h2>Cultura</h2>
					<p class="equis">¿Qué soporta la innovacción?</p>
					<h4><%= link_to "<< Más información", root_path %></h4>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="resultados">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h5>¿Para qué hacemos innovación?</h5>
				<hr class="lefty">
				<h3 class="izquierdo">Efectos de la <span class="light">Innovación</span></h3>
				<div class="container">
					<div class="row">
						<ul>
							<li><div class="numberCircle">1</div></li>
							<li><h5>Mayor valor para el cliente</h5></li>
						</ul>
					</div>

					<div class="row">
						<ul>
							<li><div class="numberCircle">2</div></li>
							<li><h5>Diferenciación</h5></li>
						</ul>
					</div>

					<div class="row">
						<ul>
							<li><div class="numberCircle">3</div></li>
							<li><h5>Impacto en el resultado:</h5></li>
						</ul>
						<br><br>
						<ul>
							<li class="pronto"><h5>A) Crecer rentabilidad</h5></li>
							<li class="pronto"><h5>B) Mejorar el posicionamiento</h5></li>
							<li class="pronto"><h5>C) Ganar participación de mercado</h5></li>
						</ul>
					</div>

					<div class="row">
						<ul>
							<li><div class="numberCircle">4</div></li>
							<li><h5>Catalizador para el crecimiento</h5></li>
						</ul>
					</div>

				</div>
			</div>

			<div class="col-md-4">
				<%= image_tag "iconos05.png" %>
			</div>

		</div>
	</div>
</div>


<div id="clientes">
	<div class="container">
		<ul>
			<li class="col-sm-2 col-xs-4 ">
				<%= image_tag src="cliente01.png" %>
			</li>
			<li class="col-sm-2 col-xs-4 ">
				<%= image_tag src="cliente02.png" %>
			</li>
			<li class="col-sm-2 col-xs-4 ">
				<%= image_tag src="cliente03.png" %>
			</li>
			<li class="col-sm-2 col-xs-4 ">
				<%= image_tag src="cliente04.png" %>
			</li>
			<li class="col-sm-2 col-xs-4 ">
				<%= image_tag src="cliente05.png" %>
			</li>
			<li class="col-sm-2 col-xs-4 ">
				<%= image_tag src="cliente06.png" %>
			</li>
			<li class="col-sm-2 col-xs-4 ">
				<%= image_tag src="cliente07.png" %>
			</li>
			<li class="col-sm-2 col-xs-4 ">
				<%= image_tag src="cliente08.png" %>
			</li>
			<li class="col-sm-2 col-xs-4 ">
				<%= image_tag src="cliente09.png" %>
			</li>
			<li class="col-sm-2 col-xs-4 ">
				<%= image_tag src="cliente10.png" %>
			</li>
			<li class="col-sm-2 col-xs-4 ">
				<%= image_tag src="cliente11.png" %>
			</li>
			<li class="col-sm-2 col-xs-4 ">
				<%= image_tag src="cliente12.png" %>
			</li>
		</ul>
	</div>
</div>


<div class="container">
	<div id="numeros">
		<h5>Números</h5>
		<hr class="righty">
		<h3>Nuestro impacto<br> en seis años</h3>
<div class="row">
	<div class="col-md-2 col-sm-4 col-xs-6 col-md-offset-3">
		<h1><span class="fa fa-globe"></span></h1>
		<h2>4</h2>
		<h4>Países de LATAM</h4>
	</div>

	<div class="col-md-2 col-sm-4 col-xs-6">
		<h1><span class="fa fa-file"></span></h1>
		<h2>+255</h2>
		<h4>Proyectos de Innovación</h4>
	</div>

	<div class="col-md-2 col-sm-4 col-xs-6 ">
		<h1><span class="fa fa-graduation-cap"></span></h1>
		<h2>4</h2>
		<h4>Mejores Business Schools de LATAM</h4>
	</div>

	<div class="col-md-2 col-sm-4 col-xs-6 col-md-offset-3">
		<h1><span class="fa fa-pencil"></span></h1>
		<h2>+1000</h2>
		<h4>Talleres con nuestro método</h4>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6">
		<h1><span class="fa fa-gear"></span></h1>
		<h2>+20</h2>
		<h4>Herramientas de trabajo propio</h4>
	</div>

	<div class="col-md-2 col-sm-4 col-xs-6">
		<h1><span class="fa fa-bullhorn"></span></h1>
		<h2>50</h2>
		<h4>nuevas empresas mentoreadas por nosotros</h4>
	</div>
</div>
	</div>
</div>


<div class="container">
	<div id="contacto">
		<div class="row">
			<div class="col-md-6">
		<h5>Contáctanos</h5>
		<hr class="lefty">
		<h3>Hagamos realidad tus<br>proyectos de <span class="light">innovación</span></h3>
		<p>Trabajamos con organizaciones de todos los tamaños, desde proyectos emprendedores hasta las empresas líderes en su ramo, en el sector privado, público y social.</p>
		<button class="button button_blue2">Contáctanos ahora!</button>
	</div>
		<div class="col-md-6">
			<%= image_tag "prueba.jpg" %>
		</div>
	</div>
	</div>
</div>