<div class="container">
<div id="rocko">
<div class="imagen2 visible-xs">
	<%= image_tag src="Memo.png" %>
</div>
<div class="col-md-5 col-md-offset-1 der">
	<h3>Memo Muñoz Urbina</h3>
	<h5>Director de Desarrollo de Negocios</h5>
			<%= link_to "https://mx.linkedin.com/in/guillermo-muñoz-903240b3", :target => "_blank" do %>
			<span class="fa fa-linkedin " aria-hidden="true"></span>
			<% end %>
			<%= link_to "http://twitter.com/memomu8", :target => "_blank" do %>
			<span class="fa fa-twitter " aria-hidden="true"></span>
			<% end %>
			<%= link_to "https://medium.com/@memomu", :target => "_blank" do %>
			<span class="fa fa-medium " aria-hidden="true"></span>
			<% end %>
			<br><br>
<p>
Estudió Ingeniería Industrial y Gestión de la Innovación con Especialidad en Ingeniería y Gestión de Proyectos. Promotor de proyectos emprendedores con foco social. Desarrolla modelos de comunicación digital. Participante en programas de la Universidad de Northwestern, Illinois; Universidad de Berkeley, California; Universidad de Nürtingen-Geislingen, Alemania; IDEO University, Consultora de Diseño e Innovación.
</p>
</div>
<div class="col-md-4 hidden-xs">
	<div class="imagen2">
		<%= image_tag src="Memo.png" %>
	</div>
</div>
</div>
</div>