<div id="academy">
		<div class="container">
				<h5>Academy</h5>
				<hr class="lefty">
				<h3 class="izquierdo">Todo lo que <span class="light">enseñamos</span> somos capaces de <span class="light">hacerlo</span>.</h3>
				<h3 class="izquierdo">Todo lo que <span class="light2">hacemos</span> somos capaces de <span class="light2">enseñarlo</span>.</h3>
<br><br>
<p>Aprende a diseñar estrategia, liderar equipos, aplicar el proceso y transmitir la cultura para diferenciarte, crecer y a transformarte a través de nuestra suite de innovación. </p>

<div id="minimi">
<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>
<div class="row">
	<div class="col-md-3 col-sm-6">
		<div id="mini" class="n1">
			<h4>Estrategia de innovación
			</h4>
		</div>
	</div>
<% end %>



<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

	<div class="col-md-3 col-sm-6">
		<div id="mini" class="n2">
			<h4>Equipos <br> de innovación
			</h4>
		</div>
	</div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

	<div class="col-md-3 col-sm-6">
		<div id="mini" class="n3">
			<h4>Proceso <br> de innovación
			</h4>
		</div>
	</div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

	<div class="col-md-3 col-sm-6">
		<div id="mini" class="n4">
			<h4>Cultura <br> de innovación
			</h4>
		</div>
	</div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

	<div class="col-md-3 col-sm-6">
		<div id="mini" class="n5">
			<h4>Diseño <br> de experiencia de cliente
			</h4>
		</div>
	</div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

	<div class="col-md-3 col-sm-6">
		<div id="mini" class="n6">
			<h4>Diseño <br> de nuevos productos y servicios
			</h4>
		</div>
	</div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

	<div class="col-md-3 col-sm-6">
		<div id="mini" class="n7">
			<h4>Diseño <br> de nuevas líneas de negocio
			</h4>
		</div>
	</div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

	<div class="col-md-3 col-sm-6">
		<div id="mini" class="n8">
			<h4>Diseño <br> de modelo de negocio
			</h4>
		</div>
	</div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

	<div class="col-md-3 col-sm-6">
		<div id="mini" class="n9">
			<h4>Design <br> Thinking
			</h4>
		</div>
	</div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

	<div class="col-md-3 col-sm-6">
		<div id="mini" class="n10">
			<h4>Lean <br> Startup
			</h4>
		</div>
	</div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

	<div class="col-md-3 col-sm-6">
		<div id="mini" class="n11">
			<h4>Innovación <br> colaborativa
			</h4>
		</div>
	</div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

	<div class="col-md-3 col-sm-6">
		<div id="mini" class="n12">
			<h4>Prototipado
			</h4>
		</div>
	</div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

	<div class="col-md-3 col-sm-6">
		<div id="mini" class="n13">
			<h4>Planeación <br> estratégica
			</h4>
		</div>
	</div>
<% end %>

<%= link_to "#Photo2Modal", "data-toggle" => "modal"  do %>

	<div class="col-md-3 col-sm-6">
		<div id="mini" class="n14">
			<h4>Sprint <br> design
			</h4>
		</div>
	</div>
<% end %>



	</div>
</div>

		</div>
</div>