<div id="digital">
	<div class="container">
		<h3>Bienvenidos al mundo digital</h3>
		<p>Provocamos la diferenciación, el crecimiento y la transformación a partir de la incursión de la tecnología en las organizaciones. Desarrollamos pensando en la experiencia de usuario o la eficiencia operativa, lo que sea que necesites.</p>
		<br>
		<button type="button" class="button button_blue" data-toggle="modal" data-target="#PhotoModal">Comienza Ahora</button>
		<br>
	</div>
</div>


<div id="desarrollo">
	
		<div class="row">
			<div class="container">
			<h3>¿Qué desarrollamos?</h3>
				<div class="col-md-4">
					<%= image_tag "iconos01.png" %>
					<h2>WEB</h2>
					<h6 class="equis">Backend, Frontend, API</h6>
				</div>
				<div class="col-md-4">
					<%= image_tag "iconos02.png" %>
					<h2>MOBILE</h2>
					<h6 class="equis">Android, iOS</h6>
				</div>
				<div class="col-md-4">
					<%= image_tag "iconos03.png" %>
					<h2>DEVOPS</h2>
					<h6 class="equis">Webapps</h6>
				</div>
			</div>
	</div>
</div>

<div id="comos">
	<div class="container">
		<div class="row">
			<h3>¿Cómo lo hacemos?</h3>
			<div class="col-md-2 col-sm-4 col-xs-6 comito">
				<%= image_tag "iwonos-01.png" %>
				<h4>Insights</h4>
				<h6>Entendemos al usuario para detectar qué le genera valor y qué no</h6>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 comito">
				<%= image_tag "iwonos-02.png" %>
				<h4>Descubrimiento de producto</h4>
				<h6>Mockups y wireframes para validar el concepto</h6>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 comito">
				<%= image_tag "iwonos-03.png" %>
				<h4>Diseño visual</h4>
				<h6>Experiencia de usuario y diseño de interfaz</h6>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 comito">
				<%= image_tag "iwonos-04.png" %>
				<h4>Ingeniería de producto</h4>
				<h6>Ingeniería de software, historias de usuario y arquitectura del desarrollo</h6>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 comito">
				<%= image_tag "iwonos-05.png" %>
				<h4>Desarrollo ágil</h4>
				<h6>Desarrollo del producto utilizando metodologías ágiles</h6>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 comito">
				<%= image_tag "iwonos-06.png" %>
				<h4>Seguimiento</h4>
				<h6>Te ayudamos en lo que necesites</h6>
			</div>
		</div>
	</div>
</div>


<div id="impacto">
	<h3>Impacto de la transformación digital en tu organización</h3>
	<p>La transformación digital, desarrollada y aplicada correctamente, genera:</p>
<div class="row">
	<div class="col-sm-3 col-xs-6">
		<%= image_tag "iconos11.png" %>
		<h4>Mayor valor para el cliente a través de la experiencia de usuario y la diferenciación</h4>
	</div>
	<div class="col-sm-3 col-xs-6">
		<%= image_tag "iconos17.png" %>
		<h4>Una gran eficiencia operativa cuando el proyecto es para procesos internos</h4>
	</div>
	<div class="col-sm-3 col-xs-6">
		<%= image_tag "iconos12.png" %>
		<h4>Impacto en el resultado</h4>
		<p class="negro"><span class="fa fa-check"> </span> Creciendo rentabilidad <br>
<span class="fa fa-check"> </span> Mejorando el posicionamiento <br>
<span class="fa fa-check"> </span> Ganando participación de mercado
</p>
	</div>
	<div class="col-sm-3 col-xs-6">
		<%= image_tag "iconos15.png" %>
		<h4>Crecimiento de la organización</h4>
	</div>
</div>
</div>


<div id="cuadrito">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>
				¿Te quedas con dudas?
			</h2>
			<p>
			No te preocupes, nosotros nos ponemos en contacto contigo.
			</p>
			<button type="button" class="button button_white" data-toggle="modal" data-target="#PhotoModal">Contáctanos!</button>
		</div>
	</div>
</div>