<div id="modelo">
	<div class="container">
		
		<h5>Modelo de Innovación</h5>
		<hr class="lefty">
		<h3 class="izquierdo">Te enseñamos todo lo que sabemos,<br>sin excepción. 
</h3>
		<br><br>
	</div>
</div>


<div id="cuadrito2">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<p>
				El mayor valor se genera cuando enseñas a otros lo que sabes y te aseguras de que sepan hacerlo. Te entrenamos para que puedas ejecutar todo el modelo, desde definir la estrategia hasta implementar un proyecto que genere valor para tu organización.
			</p>
			<%= link_to "Comienza ahora", new_contact_path, class: "button button_white"%>
		</div>
	</div>
</div>

<div id="modelo">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<%= image_tag "iconos07.png" %>
			</div>
			<div class="col-sm-5">
				<div id="iz">
					<h4><span class="light2">ESTRATEGIA</span></h4>
					<p>El paso que no todos dan: definir estrategia. Domina las variables que te permiten cuestionar para qué, por qué, con qué y cuándo hacer innovación en tu organización</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3 visible-xs">
				<%= image_tag "iconos08.png" %>
			</div>
			<div class="col-sm-5">
				<div id="de">
					<h4><span class="light2">EQUIPO</span></h4>
					<p>La innovación depende de las personas. Domina cómo identificar las habilidades y capacidades de los perfiles clave en un equipo de innovación para que puedas armar el tuyo de alto rendimiento.
					</p>
				</div>
			</div>
			<div class="col-sm-3 hidden-xs">
				<%= image_tag "iconos08.png" %>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-3">
				<%= image_tag "iconos09.png" %>
			</div>
			<div class="col-sm-5">
				<div id="iz">
					<h4><span class="light2">PROCESO</span></h4>
					<p>Es momento de actuar: domina las metodologías, herramientas y métricas que hacen posible un proceso de innovación.
					</p> <br>
					<p>Algunos de los resultados de la puesta en marcha del proceso:</p>
					<ul>
						<li class="nuop">
						<span class="fa fa-check"> Mejora en la experiencia del cliente</span>
						</li>
						<li class="nuop">
						<span class="fa fa-check"> Nuevos productos y servicios</span>
						</li>
						<li class="nuop">
						<span class="fa fa-check"> Nuevas líneas de negocio</span>
						</li>
						<li class="nuop">
						<span class="fa fa-check"> Transformación digital</span>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3 visible-xs">
				<%= image_tag "iconos10.png" %>
			</div>
			<div class="col-sm-5">
				<div id="de">
					<h4><span class="light2">CULTURA</span></h4>
					<p>Por último, es momento de dejar huella para siempre: domina cómo hacer que la innovación sea un estilo de vida dentro de tu empresa y tus colaboradores.
					</p>
				</div>
			</div>
			<div class="col-sm-3 hidden-xs">
				<%= image_tag "iconos10.png" %>
			</div>
		</div>


	</div>
</div>

<div id="impacto">
	<h3>Impacto del entrenamiento en la organización</h3>
	<p>Tener un equipo interno capaz de generar proyectos de innovación que:</p>
<div class="row">
	<div class="col-sm-3 col-xs-6">
		<%= image_tag "iconos13.png" %>
		<h4>Agreguen valor al cliente</h4>
	</div>
	<div class="col-sm-3 col-xs-6">
		<%= image_tag "iconos18.png" %>
		<h4>Provoquen una mayor diferenciación</h4>
	</div>
	<div class="col-sm-3 col-xs-6">
		<%= image_tag "iconos16.png" %>
		<h4>Impacten en el resultado</h4>
		<p class="negro"><span class="fa fa-check"> </span> Creciendo rentabilidad <br>
<span class="fa fa-check"> </span> Mejorando el posicionamiento <br>
<span class="fa fa-check"> </span> Ganando participación de mercado
</p>
	</div>
	<div class="col-sm-3 col-xs-6">
		<%= image_tag "iconos14.png" %>
		<h4>Ayuden al crecimiento de la organización</h4>
	</div>
</div>
</div>


<div id="cuadrito2">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>
				¿Te quedas con dudas?
			</h2>
			<p>
			No te preocupes, nosotros nos ponemos en contacto contigo.
			</p>
			<button type="button" class="button button_white" data-toggle="modal" data-target="#PhotoModal">Contáctanos!</button>
		</div>
	</div>
</div>