<div id="texto">
<h1>La mentes <br> <strong>CREATIVAS</strong> <br> detrás de Idearia Lab</h1>
<hr>
</div>



<div id="equipo">

<%= render 'jorge' %>

<%= render 'memo' %>

<%= render 'alex' %>

<%= render 'nemesio' %>

<%= render 'alberto' %>

<%= render 'marce' %>

<%= render 'marizu' %>

<%= render 'juan_carlos' %>

<%= render 'alfredo_f' %>

<%= render 'miguel' %>

<%= render 'alfredo_g' %>


</div>