<div id="imbi">
	<div class="container">
				<h5>Idearia Lab</h5>
				<hr class="lefty">
				<h3 class="izquierdo">Nosotros</h3>
				<p>La innovación depende de las personas.. Curiosas. Agentes de cambio y Capaces
</p>

<div class="imagen">
	<%= image_tag "aniversario.png"%>
</div>
	</div>
</div>

<div id="cuadrito">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>¿Cómo logra Idearia Lab la innovación?</h2>
			<p> Con un increíble equipo de personas que su razón de ser es la diferenciación, el crecimiento y la transformación de las organizaciones.
			</p>
		</div>
	</div>
</div>


<div id="equipo">
	<div class="container">
	<h5>Equipo</h5>
		<hr class="righty">
		<h3>Nuestra gente creativa</h3>
</div>
</div>

<div id="fotos">
	<div class="container">
		<h5>México</h5>
		<hr class="lefty">
		<div class="row">

			<div class="col-sm-4 col-xs-6">
				<div class="imagina">
					<%=image_tag "Jorge.png" %>
					<hr class="grenne">
					<h2>Jorge Peralta</h2>
					<p>Director General</p>

					<div class="iconitos">
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-xs-6">
				<div class="imagina">
					<%=image_tag "Jorge.png" %>
					<hr class="grenne">
					<h2>Guillermo Muñoz</h2>
					<p>Director</p>

					<div class="iconitos">
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-xs-6">
				<div class="imagina">
					<%=image_tag "Jorge.png" %>
					<hr class="grenne">
					<h2>Alex Romo</h2>
					<p>Director de Tecnólogía</p>

					<div class="iconitos">
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-xs-6">
				<div class="imagina">
					<%=image_tag "Jorge.png" %>
					<hr class="grenne">
					<h2>Nemesio Arriola</h2>
					<p>Director Gestión de Talento</p>

					<div class="iconitos">
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-xs-6">
				<div class="imagina">
					<%=image_tag "Jorge.png" %>
					<hr class="grenne">
					<h2>Alberto Vazquez</h2>
					<p>Director de Academy</p>

					<div class="iconitos">
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-xs-6">
				<div class="imagina">
					<%=image_tag "Jorge.png" %>
					<hr class="grenne">
					<h2>Marcela Arriola</h2>
					<p>Directora Administrativa</p>

					<div class="iconitos">
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-xs-6">
				<div class="imagina">
					<%=image_tag "Jorge.png" %>
					<hr class="grenne">
					<h2>Marizu Musi</h2>
					<p>Directora Comercial</p>

					<div class="iconitos">
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-xs-6">
				<div class="imagina">
					<%=image_tag "Jorge.png" %>
					<hr class="grenne">
					<h2>Juan Carlos Laguardia</h2>
					<p>Director de Brand</p>

					<div class="iconitos">
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-xs-6">
				<div class="imagina">
					<%=image_tag "Jorge.png" %>
					<hr class="grenne">
					<h2>Christian Bautista</h2>
					<p>Director General</p>

					<div class="iconitos">
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<br><br>
<div id="fotos">
	<div class="container">
		<h5>Guatemala</h5>
		<hr class="lefty">
		<div class="row">

			<div class="col-sm-4 col-xs-6">
				<div class="imagina">
					<%=image_tag "Jorge.png" %>
					<hr class="grenne">
					<h2>Miguel Oquendo</h2>
					<p>Director General</p>

					<div class="iconitos">
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-xs-6">
				<div class="imagina">
					<%=image_tag "Jorge.png" %>
					<hr class="grenne">
					<h2>Alfredo Godoy</h2>
					<p>Director General</p>

					<div class="iconitos">
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>

<br><br>
<div id="fotos">
	<div class="container">
		<h5>Perú</h5>
		<hr class="lefty">
		<div class="row">

			<div class="col-sm-4 col-xs-6">
				<div class="imagina">
					<%=image_tag "Jorge.png" %>
					<hr class="grenne">
					<h2>Alfredo Fuentes</h2>
					<p>Director General</p>

					<div class="iconitos">
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<br><br>
<div id="fotos">
	<div class="container">
		<h5>Colombia</h5>
		<hr class="lefty">
		<div class="row">

			<div class="col-sm-4 col-xs-6">
				<div class="imagina">
					<%=image_tag "Jorge.png" %>
					<hr class="grenne">
					<h2>Jose H. Berrio</h2>
					<p>Director General</p>

					<div class="iconitos">
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>