<div id="imbi">
	<div class="container">
				<h5>Idearia Lab</h5>
				<hr class="lefty">
				<h3 class="izquierdo">Nosotros</h3>

<div class="imagen">
	<%= image_tag "aniversario.png"%>
</div>
	</div>
</div>

<!-- <div id="cuadrito">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>¿Cómo logra Idearia Lab la innovación?</h2>
			<p> Con un increíble equipo de personas que su razón de ser es la diferenciación, el crecimiento y la transformación de las organizaciones.
			</p>
		</div>
	</div>
</div> -->


<div id="equipo">
	<div class="container">
	<h5>Creativos</h5>
		<hr class="righty">
		<h3>La innovación depende de las personas.
<br>Curiosas. Capaces. Agentes de cambio
</h3>
</div>
</div>


  <div class="w3-bar w3-black">
    <button class="button button_back tablink active3" onclick="openCity(event,'London')">México</button>
    <button class="button button_back tablink" onclick="openCity(event,'Paris')">Guatemala</button>
    <button class="button button_back tablink" onclick="openCity(event,'Tokyo')">Perú</button>
  </div>


<div id="fotos">
	<div id="London" class="w3-container w3-border city">
	<div class="container">
		<div class="row">

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="jorge"></div>
					<hr class="grenne">
					<h2>Jorge Peralta</h2>
					<p>Director General</p>

					<div class="iconitos">
						<%= link_to "mailto:jorge@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="marizu"></div>
					<hr class="grenne">
					<h2>Marizu Musi</h2>
					<p>Directora Comercial</p>

					<div class="iconitos">
						<%= link_to "mailto:marizu@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/zumusi", :target => "_blank" do %>
						<span class="fa fa-linkedin" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/search?q=zumusi&src=typd", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="memo"></div>
					<hr class="grenne">
					<h2>Memo Muñoz</h2>
					<p>Director Operativo</p>

					<div class="iconitos">
						<%= link_to "mailto:memo@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.linkedin.com/in/memo-muñoz/", :target => "_blank" do %>
						<span class="fa fa-linkedin" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/memomu8", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="marce"></div>
					<hr class="grenne">
					<h2>Marcela Arriola</h2>
					<p>Gerente Administrativo</p>
									<div class="iconitos">
						<%= link_to "mailto:marcela@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="alberto"></div>
					<hr class="grenne">
					<h2>Alberto Vazquez</h2>
					<p>Gerente de nuevos proyectos</p>

					<div class="iconitos">
						<%= link_to "mailto:alberto@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.facebook.com/crea111", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/yosoyestadocero", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.linkedin.com/in/albertovazquez", :target => "_blank" do %>
						<span class="fa fa-linkedin" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="jc"></div>
					<hr class="grenne">
					<h2>Juan Carlos Laguardia</h2>
					<p>Desarrollo de Marca</p>

					<div class="iconitos">
						<%= link_to "mailto:juancarlos@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.linkedin.com/in/juan-carlos-laguardia-aguirre-9737a7114/", :target => "_blank" do %>
						<span class="fa fa-linkedin" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="chris"></div>
					<hr class="grenne">
					<h2>Christian Bautista</h2>
					<p>Desarrollo de proyectos</p>

					<div class="iconitos">
						<%= link_to "mailto:christian@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.linkedin.com/in/christian-daniel-bautista-maldonado-298a938a/", :target => "_blank" do %>
						<span class="fa fa-linkedin" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.instagram.com/christian.dbm/", :target => "_blank" do %>
						<span class="fa fa-instagram" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="axel"></div>
					<hr class="grenne">
					<h2>Axel López</h2>
					<p>Desarrollo de proyectos</p>

					<div class="iconitos">
						<%= link_to "mailto:axel@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "www.linkedin.com/in/lcdeaxel", :target => "_blank" do %>
						<span class="fa fa-linkedin" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/axellcde", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="frida"></div>
					<hr class="grenne">
					<h2>Frida Becerril</h2>
					<p>Desarrollo de proyectos</p>

					<div class="iconitos">
						<%= link_to "mailto:frida@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "www.linkedin.com/in/fridabecerril", :target => "_blank" do %>
						<span class="fa fa-linkedin" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="pam"></div>
					<hr class="grenne">
					<h2>Pam Murcio</h2>
					<p>Desarrollo de proyectos</p>

					<div class="iconitos">
						<%= link_to "mailto:pam@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-linkedin" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="roberto"></div>
					<hr class="grenne">
					<h2>Roberto Corro</h2>
					<p>Desarrollo de proyectos</p>

					<div class="iconitos">
						<%= link_to "mailto:roberto@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://linkedin.com/in/roberto-eduardo-corro-maciel-49259b145", :target => "_blank" do %>
						<span class="fa fa-linkedin" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="ruthy"></div>
					<hr class="grenne">
					<h2>Ruthy Pilatowsky</h2>
					<p>Desarrollo de imagen</p>

					<div class="iconitos">
						<%= link_to "mailto:ruthy@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.linkedin.com/in/ruth-pilatowski-32a6a814a/", :target => "_blank" do %>
						<span class="fa fa-linkedin" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>



			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="alex"></div>
					<hr class="grenne">
					<h2>Alex Romo</h2>
					<p>Desarrollo de Tecnología</p>

					<div class="iconitos">
						<%= link_to "mailto:alex@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.facebook.com/arturoalex.romo", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/aleks_romo", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://medium.com/@arturito.io", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="neme"></div>
					<hr class="grenne">
					<h2>Nemesio Arriola</h2>
					<p>Gestión de Talento</p>

					<div class="iconitos">
						<%= link_to "mailto:nemesio@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.linkedin.com/in/nemesio-arriola-a6840426", :target => "_blank" do %>
						<span class="fa fa-linkedin" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</div>


<div id="fotos">
	<div id="Paris" class="w3-container w3-border city" style="display:none">
	<div class="container">
		<div class="row">

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="migue"></div>
					<hr class="grenne">
					<h2>Miguel Oquendo</h2>
					<p>Director de Guatemala</p>

					<div class="iconitos">
						<%= link_to "mailto:miguel@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-linkedin" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="alfredog"></div>
					<hr class="grenne">
					<h2>Alfredo Godoy</h2>
					<p>Director comercial Guatemala</p>

					<div class="iconitos">
						<%= link_to "mailto:agodoy@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
						<span class="fa fa-linkedin" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
</div>

<div id="fotos">
	<div id="Tokyo" class="w3-container w3-border city" style="display:none">
	<div class="container">
		<div class="row">

			<div class=" col-md-4 col-sm-6">
				<div class="imagina">
					<div class="alfredof"></div>
					<hr class="grenne">
					<h2>Alfredo Fuentes</h2>
					<p>Director de Perú</p>

					<div class="iconitos">
						<%= link_to "mailto:alfredo@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.linkedin.com/in/alfredofuentes", :target => "_blank" do %>
						<span class="fa fa-linkedin" aria-hidden="true"></span>
						<% end %>
						<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
						<span class="fa fa-bolt" aria-hidden="true"></span>
						<% end %>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</div>



<div id="casos">
	<div class="container">
		<h5>Casos de éxito</h5>
		<hr class="lefty">
		<h3>Empresas que se atrevieron</h3>
		<p>No somos una simple agencia. El equipo de Idearia Lab entiende profundamente las necesidades de las organizaciones y logra proporcionar el valor más alto para ellas: la innovación.</p>

<div class="row">
  <% @cases.each_with_index do |caso, i| %>
    <div class="col-md-3 col-sm-6">
      <div id="casito">
      <%= image_tag caso.loguito %>
      <%= link_to "Aprende más", case_path(caso), class: "button button_blue2"%>
    </div>
  </div>
  <% end %>

</div>

	</div>
</div>


<div id="cuadrito">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>
				Nuestra visión es que Idearia Lab sea la agencia de innovación con mayor impacto en Latinoamérica.
			</h2>
			<p>
			Creemos que es un buen comienzo.
			</p>
			<button type="button" class="button button_white" data-toggle="modal" data-target="#PhotoModal">Contáctanos!</button>
		</div>
	</div>
</div>


<%= render 'gandhi' %>
<%= render 'azul' %>
<%= render 'brose2' %>
<%= render 'master2' %>
<%= render 'praxair' %>
<%= render 'thelsa2' %>
<%= render 'tractores2'%>
<%= render 'conagra'%>
<%= render 'instacase' %>

<script>
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active3", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active3";
}
</script>