<div id="forma">
	<div class="container">
				<h5>Contáctanos</h5>
				<hr class="lefty">
				<h3 class="izquierdo">Atrévete a dar el paso<br>de la innovación</h3>
<br><br>
				<p>
					Queremos ayudar a tu organización a ser diferente, crecer y transformarse a través de la innovación.  <br>Si tú también quieres, ¡ponte en contacto con nosotros! 
				</p>

<br><br>
	<div class="col-md-8 col-md-offset-2">
		<div id="formario">
		<%= form_for @contact do |f| %>
		<p>
			Hola, me llamo
			<%= f.text_field :name, required: true, placeholder: "Escribe tu nombre completo" %>, trabajo en 

			<%= f.text_field :profile, required: true, placeholder: "Nombre de tu empresa" %>

			<%= f.text_field :donde, :value => "#{params[:controller]} - #{request.original_url}", class: "hidden" %>

			y mi rol es
			<%= f.text_field :city, required: true, placeholder: "Escribe el rol que tienes" %>

			<br><br><br> Vi lo que ofrecen y me interesó:
			<%= f.select :service, ['hacemos', 'entrenamos', 'academy']%>

			<br> <br>En seguida les dejo mis datos para que puedan contactarme: <br>
			teléfono: 
			<%= f.number_field :phone, placeholder: "Ej. +1 (55) 1234 3465" %> <br> o al correo:

			<%= f.email_field :email, required: true, placeholder: "Ej. nuevo@mimail.com" %>

			<br>
			<br>
			Por cierto, les dejo comentarios adicionales:
			<br>
			<%= f.text_area :comments, placeholder: "Déjanos tus comentarios" %>
			<br><br>
			Espero pronto su respuesta! <br>
			Saludos,


		<div class="hidden">
			<%= f.label :nickname %><br>
			<%= f.text_field :nickname, hint: 'Esto se queda en blanco' %>
		</div>
	
		<br>
		<%= f.submit "Enviar", class:"button button_blue"%>
		<br>
</p>
		<% end %>
	</div>
	</div>
	</div>		
</div>



<div id="mapas">
		<div class="row">
			<div class="container">
		<h5>¿Dónde puedes encontrarnos?</h5>
		<hr class="righty">
		<h3>Ubicación</h3>
		<br><br>
			<div class=" col-sm-4 quiero">
				<img width="80%" src="https://maps.googleapis.com/maps/api/staticmap?center=lago+zurich+219,+ampliación+granada&zoom=13&scale=2&size=200x100&maptype=roadmap&format=png&visual_refresh=true&key=AIzaSyB6K3XNvvLlBjourkCDTo3CMOUygthuYKo" alt="Google Map of lago zurich 219, ampliación granada">
				<h4>México</h4>
				<p>Lago Zurich 219, piso 12</p>
				<p>Ciudad de México</p>
				<a href="5512091873">Teléfono: (55) 1209 1873</a>
			</div>

			<div class=" col-sm-4 quiero">
				<img width="80%" src="https://maps.googleapis.com/maps/api/staticmap?center=calle+tarata,+miraflores&zoom=13&scale=2&size=200x100&maptype=roadmap&format=png&visual_refresh=true&key=AIzaSyB6K3XNvvLlBjourkCDTo3CMOUygthuYKo" alt="Google Map of calle tarata, miraflores">
				<h4>Perú</h4>
				<p>Tarata 160, piso 9</p>
				<p>Miraflores, Perú</p>
				<a href="+51987847757">Teléfono: (+51) 987847757</a>
			</div>

			<div class=" col-sm-4 quiero">
				<img width="80%" src="https://maps.googleapis.com/maps/api/staticmap?center=4A+Avenida,Zona+10,+guatemala&zoom=13&scale=2&size=200x100&maptype=roadmap&format=png&visual_refresh=true&key=AIzaSyB6K3XNvvLlBjourkCDTo3CMOUygthuYKo" alt="Google Map of 4A Avenida,Zona 10, guatemala">
				<h4>Guatemala</h4>
				<p>Zona 10
   			</p>
				<p>Ciudad de Guatemala</p>
				<a href="+50255107031">Teléfono: (+50) 25510 7031</a>
			</div>

</div>
		</div>
<br><br><br>

						<div class="iconicos">
						<%= link_to "mailto:contacto@idearialab.com?Subject=Solicitud%20de%20información" do %>
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://www.facebook.com/idearialab/", :target => "_blank" do %>
						<span class="fa fa-facebook" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://twitter.com/idearialab", :target => "_blank" do %>
						<span class="fa fa-twitter" aria-hidden="true"></span>
						<% end %>
						<%= link_to "https://medium.com/idearia-lab", :target => "_blank" do %>
						<span class="fa fa-medium" aria-hidden="true"></span>
						<% end %>
					</div>


</div>


