<div id="forma">
	<div class="container">
				<h5>Contáctanos</h5>
				<hr class="lefty">
				<h3 class="izquierdo">Atrévete a dar el paso<br>de la innovación</h3>
<br><br>
				<p>
					Idearia Lab ofrece una suite de innovación para la diferenciación, el crecimiento y la transformación de las organizaciones. <br> La suite está basada en 4 pilares que se pueden implementar individualmente, pero es altamente exitosa cuando se implementan en conjunto. 
				</p>

<br><br>
	<div class="col-md-8 col-md-offset-2">
		<div id="formario">
		<%= form_for @contact do |f| %>
		<p>
			Hola, me llamo
			<%= f.text_field :name, required: true, placeholder: "Escribe tu nombre completo" %>, trabajo en 

			<%= f.text_field :profile, required: true, placeholder: "Nombre de tu empresa" %>

			y mi rol es
			<%= f.text_field :city, required: true, placeholder: "Escribe el rol que tienes" %>

			<br><br><br> Vi lo que ofrecen y me interesó:
			<%= f.select :service, ['doing', 'training', 'academy']%>

			<br> <br>En seguida les dejo mis datos para que puedan contactarme: <br>
			teléfono: 
			<%= f.number_field :phone, placeholder: "Ej. +1 (55) 1234 3465" %> <br> o al correo:

			<%= f.email_field :email, required: true, placeholder: "Ej. nuevo@mimail.com" %>

			<br>
			<br>
			Y dejo comentarios adicionales:
			<br>
			<%= f.text_area :comments, placeholder: "Déjanos tus comentarios" %>
			<br><br>
			Espero pronto su respuesta! <br>
			Saludos,


		<div class="hidden">
			<%= f.label :nickname %><br>
			<%= f.text_field :nickname, hint: 'Esto se queda en blanco' %>
		</div>
	
		<br>
		<%= f.submit "Enviar", class:"button button_blue"%>
		<br>
</p>
		<% end %>
	</div>
	</div>
	</div>		
</div>



<div id="mapas">
		<div class="row">
			<div class="container">
			<div class="col-sm-4">
				<img width="80%" src="https://maps.googleapis.com/maps/api/staticmap?center=lago+zurich+219,+ampliación+granada&zoom=13&scale=2&size=200x200&maptype=roadmap&format=png&visual_refresh=true" alt="Google Map of lago zurich 219, ampliación granada">
				<h4>México</h4>
				<p>Lago Zurich 219, piso 12</p>
				<p>Ciudad de México</p>
				<a href="+51987847757">Teléfono: (+51) 987847757</a>
			</div>

			<div class="col-sm-4">
				<img width="80%" src="https://maps.googleapis.com/maps/api/staticmap?center=calle+tarata,+miraflores&zoom=13&scale=2&size=200x200&maptype=roadmap&format=png&visual_refresh=true" alt="Google Map of calle tarata, miraflores">
				<h4>Perú</h4>
				<p>Tarata 160, piso 9</p>
				<p>Miraflores, Perú</p>
				<a href="+51987847757">Teléfono: (+51) 987847757</a>
			</div>

			<div class="col-sm-4">
				<img width="80%" src="https://maps.googleapis.com/maps/api/staticmap?center=4A+Avenida,Zona+10,+guatemala&zoom=13&scale=2&size=200x200&maptype=roadmap&format=png&visual_refresh=true" alt="Google Map of 4A Avenida,Zona 10, guatemala">
				<h4>Guatemala</h4>
				<p>4A Avenida, Zona 10
   			</p>
				<p>Ciudad de Guatemala</p>
				<a href="+50255107031">Teléfono: (+50) 25510 7031</a>
			</div>

</div>
		</div>
</div>
