<!DOCTYPE html>
<html>
<head>
  <title>Idearialab2017</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://use.fontawesome.com/8e56b09395.js"></script>
</head>
<body>


<div id="head">
<header class="cd-auto-hide-header">
    <div class="logo"><a href="<%= root_path %>"><%= image_tag ("logo.svg")%></a></div>

    <nav class="cd-primary-nav">
        <a href="#cd-navigation" class="nav-trigger">
            <span>
                <em aria-hidden="true"></em>
                <!-- Menu -->
            </span>
        </a> <!-- .nav-trigger -->

        <ul id="cd-navigation">
            <li class="<%= 'active' if current_page?(proyectos_de_innovacion_path) or  current_page?(proyectos_de_innovacion_comerciales_path) or  current_page?(proyectos_de_innovacion_innovacion_path) or  current_page?(proyectos_de_innovacion_transformacion_digital_path) or  current_page?(proyectos_de_innovacion_gestion_del_talento_path) %> hidden-sm hidden-xs"><a href="<%= proyectos_de_innovacion_path %>">Proyectos</a></li>
            <li class="<%= 'active' if current_page?(academy_path) %> hidden-sm hidden-xs"><a href="<%= academy_path %>">Academy</a></li>
            <li class="<%= 'active' if current_page?(nosotros_path) or current_page?(nosotros_equipo_path) or current_page?(nosotros_casos_de_exito_path) or current_page?(nosotros_herramientas_path) %> hidden-sm hidden-xs"><a href="<%= nosotros_path %>">Idearia</a></li>
            <li class="hidden-sm hidden-xs"><%= link_to "Blog", "https://medium.com/idearia-lab", :target => "_blank" %></li>
            <li class="<%= 'active' if current_page?(proyectos_de_innovacion_path) %> hidden-sm hidden-xs"><a href="<%= proyectos_de_innovacion_path %>">Contacto</a></li>

            <li class="visible-sm visible-xs"><a href="<%= proyectos_de_innovacion_path %>">Proyectos</a></li>
            <li class=" visible-sm visible-xs"><a href="<%= academy_path %>">Academy</a></li>
            <li class=" visible-sm visible-xs"><a href="<%= nosotros_path %>">Idearia</a></li>
            <li class="visible-sm visible-xs"><%= link_to "Blog", "https://medium.com/idearia-lab", :target => "_blank" %></li>
            <li class=" visible-sm visible-xs"><a href="<%= proyectos_de_innovacion_path %>">Contacto</a></li>
        </ul>
    </nav> <!-- .cd-primary-nav -->

<% if current_page?(proyectos_de_innovacion_path) or  current_page?(proyectos_de_innovacion_comerciales_path) or  current_page?(proyectos_de_innovacion_innovacion_path) or  current_page?(proyectos_de_innovacion_transformacion_digital_path) or  current_page?(proyectos_de_innovacion_gestion_del_talento_path)%>
<nav class="cd-secondary-nav nuevo">
        <ul>
            <li class="<%= 'active2' if current_page?(proyectos_de_innovacion_comerciales_path) %> cool"><a href="<%=proyectos_de_innovacion_comerciales_path %>">Comercial</a></li>
            <li class="<%= 'active2' if current_page?(proyectos_de_innovacion_innovacion_path) %> cool"><a href="<%=proyectos_de_innovacion_innovacion_path %>">Laboratorio Innovación</a></li>
            <li class="<%= 'active2' if current_page?(proyectos_de_innovacion_transformacion_digital_path) %> cool"><a href="<%=proyectos_de_innovacion_transformacion_digital_path %>">Transformación Digital</a></li>
            <li class="<%= 'active2' if current_page?(proyectos_de_innovacion_gestion_del_talento_path) %> cool"><a href="<%=proyectos_de_innovacion_gestion_del_talento_path %>">Gestión de Talento</a></li>
        </ul>
    </nav> <!-- .cd-secondary-nav-->
<% end %>

<% if current_page?(academy_path) %>
<nav class="cd-secondary-nav nuevo">
        <ul>
            <li class="<%= 'active2' if current_page?(academy_path) %> cool"><a href="<%=academy_path %>">Talleres Inhouse</a></li>
            <li class="<%= 'active2' if current_page?(academy_path) %> cool"><a href="<%=academy_path %>">Talleres Abiertos</a></li>
        </ul>
    </nav> <!-- .cd-secondary-nav-->
<% end %>

<% if current_page?(nosotros_path) or current_page?(nosotros_equipo_path) or current_page?(nosotros_casos_de_exito_path) or current_page?(nosotros_herramientas_path)%>
<nav class="cd-secondary-nav nuevo">
        <ul>
            <li class="<%= 'active2' if current_page?(nosotros_equipo_path) %> cool"><a href="<%=nosotros_equipo_path %>">Equipo</a></li>
            <li class="<%= 'active2' if current_page?(nosotros_casos_de_exito_path) %> cool"><a href="<%=nosotros_casos_de_exito_path %>">Casos de Éxito</a></li>
            <li class="<%= 'active2' if current_page?(nosotros_herramientas_path) %> cool"><a href="<%=nosotros_herramientas_path %>">Herramientas</a></li>
        </ul>
    </nav> <!-- .cd-secondary-nav-->
<% end %>

</header> <!-- .cd-auto-hide-header -->
</div>


<br><br><br>
<br>



<%= yield %>


<script>
    jQuery(document).ready(function($){
    var mainHeader = $('.cd-auto-hide-header'),
        secondaryNavigation = $('.cd-secondary-nav'),
        //this applies only if secondary nav is below intro section
        belowNavHeroContent = $('.sub-nav-hero'),
        headerHeight = mainHeader.height();
    
    //set scrolling variables
    var scrolling = false,
        previousTop = 0,
        currentTop = 0,
        scrollDelta = 10,
        scrollOffset = 150;

    mainHeader.on('click', '.nav-trigger', function(event){
        // open primary navigation on mobile
        event.preventDefault();
        mainHeader.toggleClass('nav-open');
    });

    $(window).on('scroll', function(){
        if( !scrolling ) {
            scrolling = true;
            (!window.requestAnimationFrame)
                ? setTimeout(autoHideHeader, 250)
                : requestAnimationFrame(autoHideHeader);
        }
    });

    $(window).on('resize', function(){
        headerHeight = mainHeader.height();
    });

    function autoHideHeader() {
        var currentTop = $(window).scrollTop();

        ( belowNavHeroContent.length > 0 ) 
            ? checkStickyNavigation(currentTop) // secondary navigation below intro
            : checkSimpleNavigation(currentTop);

        previousTop = currentTop;
        scrolling = false;
    }

    function checkSimpleNavigation(currentTop) {
        //there's no secondary nav or secondary nav is below primary nav
        if (previousTop - currentTop > scrollDelta) {
            //if scrolling up...
            mainHeader.removeClass('is-hidden');
        } else if( currentTop - previousTop > scrollDelta && currentTop > scrollOffset) {
            //if scrolling down...
            mainHeader.addClass('is-hidden');
        }
    }

    function checkStickyNavigation(currentTop) {
        //secondary nav below intro section - sticky secondary nav
        var secondaryNavOffsetTop = belowNavHeroContent.offset().top - secondaryNavigation.height() - mainHeader.height();
        
        if (previousTop >= currentTop ) {
            //if scrolling up... 
            if( currentTop < secondaryNavOffsetTop ) {
                //secondary nav is not fixed
                mainHeader.removeClass('is-hidden');
                secondaryNavigation.removeClass('fixed slide-up');
                belowNavHeroContent.removeClass('secondary-nav-fixed');
            } else if( previousTop - currentTop > scrollDelta ) {
                //secondary nav is fixed
                mainHeader.removeClass('is-hidden');
                secondaryNavigation.removeClass('slide-up').addClass('fixed'); 
                belowNavHeroContent.addClass('secondary-nav-fixed');
            }
            
        } else {
            //if scrolling down...  
            if( currentTop > secondaryNavOffsetTop + scrollOffset ) {
                //hide primary nav
                mainHeader.addClass('is-hidden');
                secondaryNavigation.addClass('fixed slide-up');
                belowNavHeroContent.addClass('secondary-nav-fixed');
            } else if( currentTop > secondaryNavOffsetTop ) {
                //once the secondary nav is fixed, do not hide primary nav if you haven't scrolled more than scrollOffset 
                mainHeader.removeClass('is-hidden');
                secondaryNavigation.addClass('fixed').removeClass('slide-up');
                belowNavHeroContent.addClass('secondary-nav-fixed');
            }

        }
    }
});
</script>

</body>
</html>
