<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82523004-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-82523004-1');
</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://use.fontawesome.com/8e56b09395.js"></script>
</head>
<body>


<div id="head">
<header class="cd-auto-hide-header">
    <div class="logo"><a href="<%= root_path %>"><%= image_tag ("logo.svg")%></a></div>

    <nav class="cd-primary-nav">
        <a href="#cd-navigation" class="nav-trigger">
            <span>
                <em aria-hidden="true"></em>
                <!-- Menu -->
            </span>
        </a> <!-- .nav-trigger -->

        <ul id="cd-navigation">
            <li class="<%= 'active' if current_page?(modelo_de_innovacion_hacemos_path) or  current_page?(modelo_de_innovacion_entrenamos_path) %> hidden-sm hidden-xs"><a href="<%= modelo_de_innovacion_hacemos_path %>">Modelo de innovación</a></li>
            <li class="<%= 'active' if current_page?(transformacion_digital_path) %> hidden-sm hidden-xs"><a href="<%= transformacion_digital_path %>">Transformación Digital</a></li>
            <li class="<%= 'active' if current_page?(academy_path) %> hidden-sm hidden-xs"><a href="<%= academy_path %>">Academy</a></li>
            <li class="<%= 'active' if current_page?(nosotros_path) or current_page?(nosotros_equipo_path) or current_page?(nosotros_casos_de_exito_path) or current_page?(nosotros_herramientas_path) %> hidden-sm hidden-xs"><a href="<%= nosotros_path %>">Nosotros</a></li>
            <li class="hidden-sm hidden-xs"><%= link_to "Blog", "https://medium.com/idearia-lab", :target => "_blank" %></li>
            <li class="<%= 'active' if current_page?(new_contact_path) %> hidden-sm hidden-xs"><a href="<%= new_contact_path %>">Contacto</a></li>

            <li class="visible-sm visible-xs"><a href="<%= modelo_de_innovacion_hacemos_path %>">Modelo de innovación</a></li>
            <li class="visible-sm visible-xs"><a href="<%= transformacion_digital_path %>">Transformación Digital</a></li>
            <li class=" visible-sm visible-xs"><a href="<%= academy_path %>">Academy</a></li>
            <li class=" visible-sm visible-xs"><a href="<%= nosotros_path %>">Nosotros</a></li>
            <li class="visible-sm visible-xs"><%= link_to "Blog", "https://medium.com/idearia-lab", :target => "_blank" %></li>
            <li class=" visible-sm visible-xs"><a href="<%= new_contact_path %>">Contacto</a></li>
        </ul>
    </nav> <!-- .cd-primary-nav -->

<% if current_page?(modelo_de_innovacion_hacemos_path) or  current_page?(modelo_de_innovacion_entrenamos_path)%>
<nav class="cd-secondary-nav nuevo">
        <ul>
            <li class="<%= 'active2' if current_page?(modelo_de_innovacion_hacemos_path) %> cool"><a href="<%=modelo_de_innovacion_hacemos_path %>">Hacemos</a></li>
            <li class="<%= 'active2' if current_page?(modelo_de_innovacion_entrenamos_path) %> cool"><a href="<%=modelo_de_innovacion_entrenamos_path %>">Entrenamos</a></li>
        </ul>
    </nav> <!-- .cd-secondary-nav-->
<% end %>

<%# if current_page?(academy_path) %>
<!-- <nav class="cd-secondary-nav nuevo">
        <ul>
            <li class="<%#= 'active2' if current_page?(academy_path) %> cool"><a href="<%#=academy_path %>">Talleres Inhouse</a></li>
            <li class="<%#= 'active2' if current_page?(academy_path) %> cool"><a href="<%#=academy_path %>">Talleres Abiertos</a></li>
        </ul>
    </nav> <!-- .cd-secondary-nav-->
 <%# end %>

<% if current_page?(nosotros_path) or current_page?(nosotros_equipo_path) or current_page?(nosotros_casos_de_exito_path) or current_page?(nosotros_herramientas_path)%>
<nav class="cd-secondary-nav nuevo">
        <ul>
            <li class="<%= 'active2' if current_page?(nosotros_path) %> cool"><a href="#equipo">Equipo</a></li>
            <li class="<%= 'active2' if current_page?(nosotros_path) %> cool"><a href="#casos">Casos de Éxito</a></li>
            <!-- <li class="<#%= 'active2' if current_page?(nosotros_herramientas_path) %> cool"><a href="<#%=nosotros_herramientas_path %>">Herramientas</a></li> -->
        </ul>
    </nav> <!-- .cd-secondary-nav-->
<% end %>

</header> <!-- .cd-auto-hide-header -->
</div>


<br><br><br>
<br>


<div id="content">
<%= yield %>


<!-- Modal -->
<div class="modal fade" id="PhotoModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5>Contáctanos</h5>
                <hr class="lefty">
                <h3 class="izquierdo"></h3>
                <br>
                <div id="contactito">
                    <%= form_for @contact do |f| %>
                    <h5><strong>Nombre:</strong></h5>
                    <%= f.text_field :name, required: true, placeholder: "Escribe tu nombre completo" %>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5><strong>Empresa:</strong></h5>
                            <%= f.text_field :profile, required: true, placeholder: "Nombre de tu empresa" %>
                        </div>
                        <div class="col-sm-6">
                            <h5><strong>Rol:</strong></h5>
                            <%= f.text_field :city, required: true, placeholder: "Escribe el rol que tienes" %>
                        </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <h5><strong>Email:</strong></h5>
                                <%= f.email_field :email, required: true, placeholder: "Ej. nuevo@mimail.com" %>
                            </div>

                            <div class="col-sm-6">
                                <h5><strong>Teléfono:</strong></h5>
                                <%= f.number_field :phone, placeholder: "Ej. +1 (55) 1234 3465" %>
                            </div>
                        </div>


                    <h5><strong>Mensaje:</strong></h5>
                    <%= f.text_area :comments, placeholder: "Déjanos tus comentarios", class: "he" %>
                </div>
                <br>
                <button type="button" class="button button_blue2" data-dismiss="modal">Cerrar</button>
                <%= f.submit "Enviar", class:"button button_blue"%>
                <br>
                <% end %>
            </div>
        </div>
    </div>
</div>
<!--  -->


<!-- Modal -->
<div class="modal fade" id="Photo2Modal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5>¿Quieres más información?</h5>
                <hr class="lefty">
                <h3 class="izquierdo"></h3>
                <br>
                <div id="contactito">
                    <%= form_for @contact do |f| %>
                    <h5><strong>Nombre:</strong></h5>
                    <%= f.text_field :name, required: true, placeholder: "Escribe tu nombre completo" %>
                                        <h5><strong>Taller:</strong></h5>
                    <%= f.select :service, ['Estrategia de innovación','Equipos de innovación','Proceso de innovación','Cultura de innovación','Diseño de experiencia de cliente','Diseño de nuevos productos y servicios','Diseño de nuevas líneas de negocio','Diseño de modelo de negocio','Design Thinking','Lean Startup','Innovación colaborativa','Prototipado','Planeación estratégica','Sprint design']%>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5><strong>Empresa:</strong></h5>
                            <%= f.text_field :profile, required: true, placeholder: "Nombre de tu empresa" %>
                        </div>
                        <div class="col-sm-6">
                            <h5><strong>Rol:</strong></h5>
                            <%= f.text_field :city, required: true, placeholder: "Escribe el rol que tienes" %>
                        </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <h5><strong>Email:</strong></h5>
                                <%= f.email_field :email, required: true, placeholder: "Ej. nuevo@mimail.com" %>
                            </div>

                            <div class="col-sm-6">
                                <h5><strong>Teléfono:</strong></h5>
                                <%= f.number_field :phone, placeholder: "Ej. +1 (55) 1234 3465" %>
                            </div>
                        </div>


                    <h5><strong>Mensaje:</strong></h5>
                    <%= f.text_area :comments, placeholder: "Déjanos tus comentarios", class: "he" %>
                </div>
                <br>
                <button type="button" class="button button_blue2" data-dismiss="modal">Cerrar</button>
                <%= f.submit "Enviar", class:"button button_blue"%>
                <br>
                <% end %>
            </div>
        </div>
    </div>
</div>
<!--  -->


</div>


<div id="footer">
    <div class="container">

    <div class="col-md-2 col-sm-4 col-xs-6 down">
        <h5>México</h5>
        <p>Lago Zurich 219, Ampliación Granada</p>
        <p>CDMX, México</p>
        <a href="+51987847757">Teléfono: (+51) 987847757</a>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 down">
        <h5>Perú</h5>
        <p>Av. La Encalada 1471, Santiago de Surco</p>
        <p>Lima, Perú</p>
        <a href="+51987847757">Teléfono: (+51) 987847757</a>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 down">
        <h5>Guatemala</h5>
        <p>Zona 10, Ciudad Guatemala</p>
        <p>Guatemala</p>
        <a href="+51987847757">Teléfono: (+51) 987847757</a>
    </div>


    <div class="col-md-4 col-sm-6 down">
        <h5>Recursos</h5>
        <ul>
            <li>
              <h6><%= link_to "Modelo de Innovación", modelo_de_innovacion_hacemos_path  %></h6>
              <h6><%= link_to "Transformación Digital", transformacion_digital_path  %></h6>
              <h6><%= link_to "Academy", academy_path %></h6>
              <h6><%= link_to "Nosotros", nosotros_path  %></h6>
              <h6><%= link_to "Equipo",  nosotros_path%></h6>
              <h6><%= link_to "Casos de Éxito",  nosotros_path%></h6>
              <h6><%= link_to "Herramientas",  nosotros_path%></h6>  
            </li>
        </ul>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6 down">
        <h5>Síguenos</h5>
        <div id="iconos">
        <%= link_to "https://twitter.com/idearialab" do %>
        <span class="fa fa-twitter icon"></span>
        <% end %>
        <%= link_to "https://www.facebook.com/idearialab" do %>
        <span class="fa fa-facebook icon"></span>
        <% end %>
        </div>
        <br><br>
        <h5>Newsletter</h5>
        <div id="contactito">
        <%= form_for @contact do |f| %>
            <%= f.email_field :email, required: true, placeholder: "a@a.com" %>
            <button type="submit" name="commit" class="button_blue float_right"><span class="fa fa-paper-plane"></span></button>
        <% end %>
        </div>
    </div>
    </div>
</div>





<script>
    jQuery(document).ready(function($){
    var mainHeader = $('.cd-auto-hide-header'),
        secondaryNavigation = $('.cd-secondary-nav'),
        //this applies only if secondary nav is below intro section
        belowNavHeroContent = $('.sub-nav-hero'),
        headerHeight = mainHeader.height();
    
    //set scrolling variables
    var scrolling = false,
        previousTop = 0,
        currentTop = 0,
        scrollDelta = 10,
        scrollOffset = 150;

    mainHeader.on('click', '.nav-trigger', function(event){
        // open primary navigation on mobile
        event.preventDefault();
        mainHeader.toggleClass('nav-open');
    });

    $(window).on('scroll', function(){
        if( !scrolling ) {
            scrolling = true;
            (!window.requestAnimationFrame)
                ? setTimeout(autoHideHeader, 250)
                : requestAnimationFrame(autoHideHeader);
        }
    });

    $(window).on('resize', function(){
        headerHeight = mainHeader.height();
    });

    function autoHideHeader() {
        var currentTop = $(window).scrollTop();

        ( belowNavHeroContent.length > 0 ) 
            ? checkStickyNavigation(currentTop) // secondary navigation below intro
            : checkSimpleNavigation(currentTop);

        previousTop = currentTop;
        scrolling = false;
    }

    function checkSimpleNavigation(currentTop) {
        //there's no secondary nav or secondary nav is below primary nav
        if (previousTop - currentTop > scrollDelta) {
            //if scrolling up...
            mainHeader.removeClass('is-hidden');
        } else if( currentTop - previousTop > scrollDelta && currentTop > scrollOffset) {
            //if scrolling down...
            mainHeader.addClass('is-hidden');
        }
    }

    function checkStickyNavigation(currentTop) {
        //secondary nav below intro section - sticky secondary nav
        var secondaryNavOffsetTop = belowNavHeroContent.offset().top - secondaryNavigation.height() - mainHeader.height();
        
        if (previousTop >= currentTop ) {
            //if scrolling up... 
            if( currentTop < secondaryNavOffsetTop ) {
                //secondary nav is not fixed
                mainHeader.removeClass('is-hidden');
                secondaryNavigation.removeClass('fixed slide-up');
                belowNavHeroContent.removeClass('secondary-nav-fixed');
            } else if( previousTop - currentTop > scrollDelta ) {
                //secondary nav is fixed
                mainHeader.removeClass('is-hidden');
                secondaryNavigation.removeClass('slide-up').addClass('fixed'); 
                belowNavHeroContent.addClass('secondary-nav-fixed');
            }
            
        } else {
            //if scrolling down...  
            if( currentTop > secondaryNavOffsetTop + scrollOffset ) {
                //hide primary nav
                mainHeader.addClass('is-hidden');
                secondaryNavigation.addClass('fixed slide-up');
                belowNavHeroContent.addClass('secondary-nav-fixed');
            } else if( currentTop > secondaryNavOffsetTop ) {
                //once the secondary nav is fixed, do not hide primary nav if you haven't scrolled more than scrollOffset 
                mainHeader.removeClass('is-hidden');
                secondaryNavigation.addClass('fixed').removeClass('slide-up');
                belowNavHeroContent.addClass('secondary-nav-fixed');
            }

        }
    }
});
</script>

</body>
</html>
