<!DOCTYPE html>
<html>
<head>
  <title>Idearialab2017</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://use.fontawesome.com/8e56b09395.js"></script>
</head>
<body>


<div id="fondo">
<div class="hidden-xs">
<span class="img2"><%= image_tag ("iconos-01.png")%></span>
<span class="img3"><%= image_tag ("iconos-02.png")%></span>
<span class="img4"><%= image_tag ("iconos-03.png")%></span>
<span class="img5"><%= image_tag ("iconos-04.png")%></span>
</div>
</div>
			


<div id="nav">
<header>

    <div class="logo">
        <%= link_to root_path do %> 
        <%= image_tag src="logo.svg" %>
        <% end %>
    </div>

    <!-- START Responsive Menu HTML -->
    <div class="rm-container">
        <a class="rm-toggle rm-button rm-nojs" href="#">Menu</a>

        <nav class="rm-nav rm-nojs rm-lighten">
            <ul>
                <li><a href="#">Proyectos de Innovación <span class="fa fa-angle-down"></span></a>
                    <ul>
                        <li><a href="#">Comerciales  <span class="fa fa-angle-right"></span></a>
                            <ul>
                                <li><a href="#">Experiencia del Cliente</a></li>
                                <li><a href="#">Nuevos Clientes</a></li>
                                <li><a href="#">Nuevos productos y servicios</a></li>
                                <li><a href="#">Nuevas líneas de negocio</a></li>
                            </ul></li>
                        <li><a href="#">Innovación  <span class="fa fa-angle-right"></span></a>
                            <ul>
                                <li><a href="#">Laboratorio de Innovación</a></li>
                                <li><a href="#">Cultura de Innovación</a></li>
                            </ul></li>

                        <li><a href="#">Transformación Digital  <span class="fa fa-angle-right"></span></a>
                            <ul>
                                <li><a href="#">Diseño Web</a></li>
                                <li><a href="#">Mobile</a></li>
                                <li><a href="#">DevOps</a></li>
                            </ul></li>

                        <li><a href="#">Desarrollo de Talento  <span class="fa fa-angle-right"></span></a>
                            <ul>
                                <li><a href="#">Creación o rediseño de área</a></li>
                                <li><a href="#">Reclutamiento y Selección</a></li>
                            </ul></li>
                        <li class="hidden"><a href="#"></a></li>
                        <li class="hidden"><a href="#"></a></li>
                    </ul></li>
                <li><a href="#">Emprendedores <span class="fa fa-angle-down"></span></a>
                    <ul>
                        <li><a href="#">Diseño de modelo de negocio</a></li>
                    </ul></li>
                <li><a href="#">Academy</a></li>
                <li><a href="#">Nosotros <span class="fa fa-angle-down"></span></a>
                    <ul>
                        <li><a href="#">Equipo</a></li>
                        <li><a href="#">Casos de Éxito</a></li>
                        <li><a href="#">Herramientas</a></li>
                    </ul></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
    </div><!-- .rm-container -->
    <!-- End Responsive Menu HTML -->
</header>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="magic">

<%= yield %>

		</div>
	</div>
</div>


<script>
        jQuery(function ($) {
            var menu = $('.rm-nav').rMenu({
                // Optional Settings
                /**
                 * Minimum width for expanded layout in pixels - String
                 * The media query in css file should be changed to match this
                 * Must be in pixels and include px units if not using Modernizr.
                 * @default '769px'
                 */
                minWidth: '960px',
                /**
                 * The opening and closing speed of the menus in milliseconds
                 * @default 400
                 */
                //transitionSpeed: 400,
                /**
                 * The jQuery easing function - used with jQuery transitions
                 * @default 'swing'
                 * @options 'swing', 'linear'
                 */
                //jqueryEasing: 'swing',
                /**
                 * The CSS3 transitions easing function - used with CSS3 transitions
                 * @default 'ease'
                 */
                //css3Easing: 'ease',
                /**
                 * Use button as toggle link - instead of text
                 * @default true
                 */
                //toggleBtnBool: true,
                /**
                 * The Toggle Link selector
                 * @default '.rm-toggle'
                 */
                //toggleSel: '.rm-toggle',
                /**
                 * The menu/sub-menu selector
                 * @default 'ul'
                 */
                //menuSel: 'ul',
                /**
                 * The menu items selector
                 * @default 'li'
                 */
                //menuItemsSel: 'li',
                /**
                 * Use CSS3 animation/transitions Boolean
                 * @default true
                 * Do not use animation/transitions: false
                 */
                //animateBool: false,
                /**
                 * Force GPU Acceleration Boolean
                 * @default false
                 * Do not force: false
                 */
                //accelerateBool: true,
                /**
                 * the setup complete callback function
                 * @default 'false'
                 */
                //setupCallback: false,
                /**
                 * the tabindex start value - integer
                 * @default 1
                 */
                //tabindexStart: 5,
                /**
                 * Use development mode - outputs information to console
                 * @default false
                 */
                //developmentMode: false
            });
        });
    </script>

</body>
</html>
